{% extends 'layout.html' %}
    {% block title %}Hjem{% endblock %}
    {% block body %}
    <div class="banner">
        <img class="banner-image" src="../static/1156488-small.png">
    </div !--div-banner-->
    <div class="card" id="cv">
        <div class="container">
            <div class="container-left">
                <p>
                    Kjapt om:<br>Bjørn er en nysgjerrig kar som liker       
                    <br>å finne nye måter å bruke dagens teknologi
                    <br>til å løse fremtidens problemer
                    <br>
                </p>
            </div !--div-container-left-->
            <div class="container-right">
                <table>
                    <tr><td><b>Alder:&nbsp;</b></td><td>{{ alder }}</td></tr>
                    <tr><td><b>Bosted:&nbsp;</b></td><td><a href="https://www.google.no/maps/@58.1630887,7.0978996,14z">Lyngdal</a></td></tr>
                    <tr><td><b>Epost:&nbsp;</b></td><td><a href="mailto:Knutsen.b@gmail.com">Knutsen.b@gmail.com</a></td></tr>
                    <tr><td><b>GitHub:&nbsp;</b></td><td><a href="https://github.com/knu753n" target="_blank">Knu753n</a></td></tr>
                </table>
            </div !--div-container-right-->
        </div !--div-container-->
    </div !--div-cv-->
    {% endblock %}