{% extends 'layout.html'%}
{% block title %}Om{% endblock %}
{% block body %}
<div id="content">
    <img id="profilepic" src="https://avatars.githubusercontent.com/u/27147791?v=4">
    <div class="card" id="about">
        <p><b>Om Bjørn:</b></p>
        <br>
        <p>Jeg begynte min reise i den digitale verden,<br>
            i en alder av 5, da jeg ble gratulert med dagen<br>
            av min fars datamaskin uten å vite hvordan dette kunne gå til.<br>
            <br>
            Jeg har siden dengang vært fasinert av datamaskiner<br>
            og mulighetene som finnes dersom man forstår hvordan<br> 
            man skal forklare maskinen hva du ønsker og mener
            <br>
            Jeg har gjennom min interesse og hobby<br>
            skapt meg en karriere innen IT-Verdenen<br>
            og har jobbet i denne bransjen med alt fra<br>
            utvikling av programvare til nettverksoppsett<br>
            serverkonfiguereringer, skykonfigurasjon<br>
            innkjøpsplanlegging, forvaltning og opplæring<br>
            <br>
            Jeg finner denne verdenen fortsatt spennende<br>
            selv om jeg har avdekket noe av magien<br>
            slik som hvordan maskinen kan syntetisere lyd i form av en<br>
            bursdagsgratulasjon, har jeg åpnet dører som<br>
            skjuler nye typer magiske øyeblikk og fortsetter<br>
            min interesse og entusiasme for feltet.
        </p>
    </div>
</div>
{% endblock %}